html, body {
  margin: 0;
  padding: 0;
  background-color: darkslateblue;
}

h1{
    color: white;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
    font-size: 1.4em;
}

p{
    color: white;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
}

label{
    color: white;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
}

header{
    position: fixed;
    top: 30%;
    left: 20%;
}

.formcontext{
    position: fixed;
    top: 40%;
    left: 30%;
}

.formevent{
    position: fixed;
    top: 45%;
    left: 30%;
}

.formquestion{
    position: fixed;
    top: 50%;
    left: 30%;
}

.formperson{
    position: fixed;
    top: 55%;
    left: 30%;
}

.formlocation{
    position: fixed;
    top: 60%;
    left: 30%;
}

.formobject{
    position: fixed;
    top: 65%;
    left: 30%;
}

.showquestionbutton{
    position: fixed;
    top: 70%;
    left: 30%;
}

.formall{
    position: fixed;
    top: 75%;
    left: 30%;
}

form{
    top: 45%;
    left: 20%;
}
