
    <h2> {{ question }}</h2>
    {% for hyp in hypothesis_list %}

    <button id="btn" class="accordion"> {{hyp[2]}} </button>

    <div class="panel">
        <p> Node Ranking: {{hyp[4]}}</p>
        <p> Because:  </p>
        <p>  {{hyp[7]}} </p>
        {% for h in hyp[6] %}
        <p> {{ h[1] }} </p>
        {% endfor %}
        <p> Critical Factors: </p>
        <p>{{hyp[5]}}</p>
    </div>
    <button class="cross"> X </button>
    {% endfor %}

    <button onclick="printList()" class="evaluate"> Evaluate </button>
